# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/

# =========================
# Python Cache Files
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Data Files (VERY IMPORTANT)
# =========================
data/
*.csv
*.xlsx
*.zip
*.parquet

# =========================
# Logs & Temporary Files
# =========================
*.log
*.tmp
*.bak

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Python Packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Testing
# =========================
.pytest_cache/
